.wrapper {
  margin-left: 400px;
  margin-top: 20px;
}

.title {
  margin-bottom: 15px;
}

.Name {
  font-size: 12px;
  margin-bottom: 10px;
}

.btn {
  display: block;
  border-radius: 5px;
  border-color: inherit;
}

.input {
  margin-bottom: 15px;
  box-shadow: inset 0px 0px 2px 0px;
}

.filter {
  padding-left: 5px;
  margin-bottom: 10px;
}
.form {
  width: 300px;
  padding: 5px 10px;
  border: 1px solid;
  border-radius: 5px;
}

.list {
  padding-left: 15px;
}

.formGroup {
  display: flex;
  flex-direction: column;
}
